/* general Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif ;
    color: white;
}
body{
        background-image:linear-gradient(rgba(0, 0, 0, 0.267),rgba(0, 0, 0,1.0)),url("./background/backtemp.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        backdrop-filter: blur(10px);
       
    }
    
/* head1 */
.head1{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.log{
    color:white ;
    border: 5px dashed white;
    border-radius: 50%;
    text-align: center;
    font-size: 2.0em;
    height: 50px;
    width: 80px;
    transition: 0.4s ease-in-out;
    cursor: pointer;

}
 .title{
    margin-top: 10px;
    margin-left: 1%;
    font-size: 1.7em;
    transition: 0.4s ease-in-out;
}
/* nav Styles */
a{
    text-decoration: none;
    cursor:pointer;
    transition: 0.4s ease-in-out;

}
li{
list-style-type: none;
font-size: 1.2em;
padding-top: 1.5em;
padding-left: 1.5em;
}
nav ol {
    display: flex;
    justify-content: flex-start;
    margin-left: 0%;
}

.log:hover{
    color:orange;
    border-color:orange ;
    box-shadow: 3px 0px 4px White;
}
.cart{
    font-size: 1.1em;
    margin:0; 
    transition: 0.4s ease-in-out;
    
}
.last{
    margin-left: 29%;

}
ol{
    padding-left: 3%;
}
sup{
    color: orange;
}
a:hover,.title:hover{
color:orange;
border:none
}
/* menu bar */
.menuline{
    height: 3px;
    width: 25px;
    background-color: white;
    margin-bottom: 3px;
}
.menu_bar{
    background-color: orangered;
    border-radius: 5px;
    width: 45px;
    height: 35px;
    padding-top: 10px;
    padding-left:10px;
    cursor:pointer;
    margin-top: 2%;
    display: none;
}
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* article */

.article_sec{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url("./background/aboutgal.jpg");
    opacity: 1.0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3% 5% 0 5%;
    width: 90%;
    height: 600px;
}
.main_txt{
    font-size: 8ch;
    width: 50%;
    padding-top: 4%;
    margin-left: 53%;
    font-weight: bolder;
    transition: 2s ease-in-out;

}
/* padding animation */
.main_txt:hover{
    padding-top: 2px;
}
.article hr{
    width:10%;
    height: 2px;
    background-color: orangered;
    border: 1px solid orangered;
    margin-top: 1%;
    margin-left: 54%;
}
.para_text{
    width: 48%;
    margin-left: 54%;
    font-size:3ch; 
    padding-top: 3%;
}
/* ---------------------------------------------------------------------------------------------------------- */
/* section  */
.section{
    margin: 0;
    padding: 0;
}
.article1{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)),url("./background/aboutsecimg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 5% 0% 5%;
    width: 90%;
    height:550px;
}
.content{
    padding-top: 10%;
    margin-left: 8%;
    width:56%;
}
.history{
    font-size: 1.4em;
    font-weight: bold;
    transition: 2s ease-in-out;
}
.period{
    padding-top: 3%;
    font-size:8ch;
    font-weight: bolder;
    transition: 2s ease-in-out;
}
.period:hover{
    margin-top: 2%;
}

.para_text2{
    padding-top: 4%;
    font-size: 1.4em;
    font-weight: 200;
    width: 85%;
}
/* logo section  */
.article2{
    
    background-color: rgb(15, 15, 19);
    margin: 0 5% 0% 5%;
    padding: 0;
    width: 90%;
    height: 300px;
   
}
.headline{
    font-size: 2.0em;
    margin-left: 40%;
    padding-top: 7%;
}
.icons{

    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-left: 0;
    cursor: pointer;
}
.icon{
    padding-left: 5%;
    letter-spacing: 0.3em;
    stroke-width: 1px;
    font-weight: bolder;
    transition: 2s ease-in-out;
}
.icon:hover{
    padding-top: 1%;
    transform: scale(1.2);
}
/* -------------------------------------------------------------------------------------------- ---------------------*/

/* citizen  golden membership footers */
.footers{
    background-color:rgb(216, 187, 21);
    display: flex;
    padding: 0;
    width: 90%;
    justify-content: space-around;
    height: 150px;
    margin: 0% 5%;
}

.footertexts1  {
    font-size: 2.6em;
    font-weight: bolder;
    color: black;
    margin-left: 1%;
    width: 40%;
    margin-top: 3%;
}
.footertexts2{
    font-size: 1.4em;
    color: black;
    font-weight: lighter;
    margin-top:4%;
    width:25%;
    font-family:Verdana, Tahoma, sans-serif
}

.footerbuts{
    border:2px solid black;
    border-radius: 25px;
    width: 12%;
    height: 30%;
    background-color: black;
    padding-top:10px;
    padding-left: 2%;
    margin-top:4% ;
    font-size: 1.1em;
}
/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* video footers */
.footers1{
    /* background-color: black; */
    background-color:  rgb(15, 15, 19);
    width:90%;
    height:500px;
    margin:0% 5% ;
    display: flex;
    
}
.text{
    width: 45%;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5%;
    padding-left: 4%;
    transition: 2s ease-in-out;
}
.text:hover{
    padding-top: 1%;
}
.con1{
    font-size: 2.5em;
    font-weight: 500;
}
.con2{
    font-size: 5ch;
    padding-top: 5%;
    font-weight: bolder;
}
.con3{
font-size: 1.6em;
padding-top: 5%;
}
.footbut2{
    border: 2px solid white;
    font-size: 1.0em;
    font-weight: bolder;
    margin-top: 8%;
    width: 30%;
    height: 45px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
}
.footbut2:hover{
    background-color: orangered;
}
.video{
    width: 55%;
    padding-top: 10%;
    padding-left: 0%;
    transition: 2s ease-in-out;
}
.video:hover{
    padding-top: 2%;
    transform: scale(1.1);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* copyrights */
.copyright{
    background-color:black;
    width:100%;
    height:100px;
    display: flex;
    margin-top: 5%;
    border-top: 1px solid white;
    border-left:1px solid white;
    justify-content:space-between;
}
.copytext{
    margin: 3% 3%;
    font-size: 1.2em;
    font-weight: bold;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media all and (min-width:150px) and (max-width:900px)
    {
/* header */
        .head1{
            justify-content: flex-start;
            padding: 2% 3%;
            background-color: rgb(15,15,19);
            width: 100%;
            margin: 0 0%;
            margin-top: 1%;
        }
        ol{
            flex-direction: column;
            justify-content: center;
            z-index: 2;
            width: 100%;
            margin: 0;
            text-align: center;
            background-color: rgb(15, 15, 19);
        }
    
        li{
            font-size: 1.2em;
            padding-left: 0;
            padding-top: 0;
            margin-top: 0.8em;
            margin-left: 0;
            transition: 1.5s ease-in-out;
        }
        li:hover{
            border: 2px solid white ;
            padding-left: 10%;
            z-index: 2;
            background-color: orangered;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        .last{
            margin-left: 0;
        }
        .lists{
            display: none;
        } 
        .menu_bar{
            display: block;
            position: absolute;
            top: 1%;
            left: 83%;
        }
        .show_menu{
            display: block;
        }  
    /* --------------------------------------------------------------------------------- */
    /* article */
    .article_sec{

        margin: 2% 3%;
        width: 94%;
        background-size: 100% 400px;
        height: 250px;
        font-size: 0.3em;
    }
    .main_txt,.para_text,.article hr{
        margin-left: 5%;
        margin-top: 5%;
    }
    .para_text{
        padding-top: 2%;
        width: 90%;
        font-size: 1.9em;
    }
    .article hr{
        width: 20%;
    }
    .section{
        width: 100%;
        margin: 0;
    }

    .article1{
        width: 94%;
        margin: 1% 3%;
        font-size: 0.5em;
        height: 250px;
    }
    .period{
        font-size: 3.6em;
    }
    .article2{
        width: 94%;
        margin: 1% 3%;
        font-size: 0.5em;
        height: 120px; 
    }
    .headline{
        margin-left: 34%;
    }
    .icons{
        margin: 0;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
    .icon{
        text-align: center;
        padding-top: 7%;
    }
/* yellow Footer */
/* footer sec */
    .footers{
        width: 94%;
        margin: 1% 3%;
        font-size: 0.4em;
        height: 70px;
   }
   .footertexts2{
        padding-top: 0%;
        width: 30%;
        font-size: 2.0em;
   }
   .footerbuts{
        margin-top: 8%;
        padding-top: 5px;
        width: 20%;
   }
/*  video footers */
    .footers1{
        width: 94%;
        margin: 1% 3%;
        font-size: 0.3em;
        text-align: center;
        flex-direction: column;
        height: 350px;
    }
    .text{
        width: 100%;
    }
    .footbut2{
        margin-top: 2%;
        margin-left:36% ;
        font-size: 1.5em;
        height: 30px;
    }
    .video{
        margin: 0 1%;
        width: 98%;
    }
    iframe{
        height: 150px;
    }
/* -------------------------------------------------------------------------------------------------------- */
/* copyrights */

.copyright{
    font-size: 0.4em;
    height: 60px;
}
/* ------------------------------------------------------------------------------------------------------------ */

}