/* general Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif ;
    color: white;
}
body{
        background-image:linear-gradient(rgba(0, 0, 0, 0.267),rgba(0, 0, 0,1.0)),url("./background/backtemp.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        backdrop-filter: blur(10px);
    }

/* head1 */
.head1{
    display: flex;
    justify-content: center;
    margin-top: 2%; 
    
}
.log{
    color:white ;
    border: 5px dashed white;
    border-radius: 50%;
    text-align: center;
    font-size: 2.0em;
    height: 50px;
    width: 80px;
    transition: 2s ease-in-out;
    cursor: pointer;

}
/* nav Styles */
a{
    text-decoration: none;
    cursor:pointer;
    transition: 0.4s ease-in-out;

}
li{
list-style-type: none;
font-size: 1.1em;
padding-top: 1.5em;
padding-bottom:1.5em ;
padding-left: 1.6em;
}

nav ol {
    display: flex;
    justify-content: flex-start;
    margin-left: -40px;
    margin-top: 2%;
    background-color:rgb(15, 15, 19);
    width: auto;
    
}
.log:hover{
    color:orange;
    border-color:orange ;
    box-shadow: 3px 0px 4px White;
}
.cart{
    width: 70px     ;
    padding:10px 20px;
    transition: 2s ease-in-out;
}
.last{
    margin-left: 32%;
}
ol{
    padding-left: 6%;
}
sup{ 
    color: orange;
}
a:hover{
color:orange;
border:none
}
/* menubar */
.menuline{
    height: 3px;
    width: 25px;
    background-color: white;
    margin-bottom: 3px;
}
.menu_bar{
    background-color: orangered;
    border-radius: 5px;
    width: 45px;
    height: 35px;
    padding-top: 10px;
    padding-left:10px;
    cursor:pointer;
    margin-top: 2%;
    display: none;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
.article_sec{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url("./background/aboutgal.jpg");
    opacity: 1.0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3% 5% 2% 5%;
    width: 90%;
    height: 600px;
    
}
.main_txt{
    font-size: 10ch;
    width: 50%;
    padding-top: 10%;
    margin-left: 53%;
    font-weight: bolder;
    transition: 2s ease-in-out;
}
/* padding animation */
.main_txt:hover{
    padding-top: 2px;
}
.middle_text{
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 54%;
    padding-top: 2%;
}
.article hr{
    width:10%;
    height: 2px;
    background-color: orangered;
    border: 1px solid orangered;
    margin-top: 1%;
    margin-left: 54%;
}
.para_text{
    width: 48%;
    margin-left: 54%;
    font-size:3ch; 
    padding-top: 3%;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* article2 */

/* citizen  golden membership footers */
.article2{
    background-color:rgb(216, 187, 21);
    display: flex;
    padding: 0;
    width: 90%;
    justify-content: space-around;
    height: 150px;
    margin: 0% 5% 2% 5%;
}

.articletexts1  {
    font-size: 2.6em;
    font-weight: bolder;
    color: black;
    margin-left: 1%;
    width: 40%;
    margin-top: 3%;
}
.articletexts2{
    font-size: 1.4em;
    color: black;
    font-weight: lighter;
    margin-top:4%;
    width:25%;
    font-family:Verdana, Tahoma, sans-serif
}

.article2buts{
    border:2px solid black;
    border-radius: 25px;
    width: 12%;
    height: 30%;
    background-color: black;
    padding-top:10px;
    padding-left: 2%;
    margin-top:4% ;
    font-size: 1.1em;
}
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* map Section */
.mapsection{
    margin:0 5% 2% 5%;
}
/* =------------------------------------------------------------------------------------------------------ */
.contact_foot{
    width: 90%;
    height: 220px;
    background-color: rgb(15, 15, 19);
    text-align: center;
    margin: 0 5% 5% 5%;
}
.contacttext1{
    padding-top: 3%;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: sans-serif;
}
.big{
font-size: 1.25em;
}
.small{
    font-size: 0.8em;
}
.contacttext2{
    padding-top: 1%;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.logos{
    padding-left: 3%;
    transition: 1s ease-in-out;
}
.logos:hover{
    cursor: pointer;
    padding-top: 1%;
    transform: scale(1.5);
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* copyrights */
.copyright{
    background-color:black;
    width:100%;
    height:100px;
    display: flex;
    margin-top: 5%;
    border-top: 1px solid white;
    border-left:1px solid white;
    justify-content:space-between;
}
.copytext{
    margin: 3% 3%;
    font-size: 1.2em;
    font-weight: bold;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media all and (min-width:150px) and (max-width:900px)
    {
/* header */
    .head1{
        justify-content: flex-start;
        padding: 2% 3%;
        background-color: rgb(15,15,19);
        width: 100%;
        margin: 0 0%;
        margin-top: 1%;
    }
    ol{
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        width: 100%;
        margin: 0;
        text-align: center;
        background-color: rgb(15, 15, 19);
    }

    li{
        font-size: 1.2em;
        padding-left: 0;
        padding-top:0em;
        margin-top: 0.8em;
        margin-left: 0;
        padding-bottom: 1%;
        transition: 1.5s ease-in-out;
    }
    li:hover{
        border: 2px solid white ;
        padding-left: 10%;
        z-index: 2;
        background-color: orangered;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .last{
        margin-left: 0;
    }
    .lists{
        display: none;
    } 
    .menu_bar{
        display: block;
        position: absolute;
        top: 10px;
        left: 83%;
    }
    .show_menu{
        display: block;
    }
/* ------------------------------------------------------------------------------------------------------- */
/* article img */
    .article_sec{
        width: 94%;
        margin: 3% 3%;
        background-size:100% 180px ;
        height: 180px;
        
    }
    .main_txt{
        padding-top: 14%;
        margin-left:3%;
        width: 100%;
        font-size: 1.4rem;
    }
    .middle_text{
        padding-top: 3%;
        margin-left: 3%;
        width: 100%;
        font-size: 0.6rem;
    }
    .article hr{
        margin-top: 3%;
        margin-left: 3%;
        width: 20%;
    }
    .para_text{
        margin-left: 3%;
        width: 45%;
        font-size: 0.4rem;
    }
/* ------------------------------------------------------------------------------------------------------- */

    /* yellow Footer */
/* footer sec */
    .article2{
        width: 94%;
        margin: 1% 3%;
        font-size: 0.4em;
        height: 70px;
   }
   .articletexts2{
        padding-top: 1%;
        width: 30%;
        font-size: 2.0em;
   }
   .article2buts{
        margin-top: 8%;
        text-align: center;
        padding-top: 5px;
        width: 21%;
   }
/* ------------------------------------------------------------------------------------------------------- */
/* map Sec */
   .mapsection{
    width: 94%;
    margin: 3% 3%;
    height: 180px;
   }
   iframe{
    width: 100%;
    height: 180px;
   }
/* ------------------------------------------------------------------------------------------------------- */
/* contact no */
     .contact_foot{
        width: 94%;
        margin: 3% 3%;
        font-size:0.5em;
        height: 100px;
     }
     .logos{
        padding-top: 5%;
        margin-left: 4%;
     }
/* ------------------------------------------------------------------------------------------------------- */
/* copyright */
    .copyright{
        width: 100%;
        font-size: 0.4em;
        height: 60px;
        
}      
    .copytext1{
        width: 100%;
        margin-left: 45%;
    }

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

}